#body {
  background-color: white;
}

body {
  font-family: Helvetica;
  background-color: black;
  color: white;
  font-size: 0.8rem;
}

#header {
  color: white;
  text-align: center;
  margin-top: 0%;
  padding: 4px;
  font-size: 3.8rem;
  border-bottom: 3px dotted black;
  font-family: 'Monoton', cursive;
}

#main {
  width: 100%;
}

#button {
  font-size: 5.1rem;
  color: black;
  padding: 0;
  border: none;
  background: none;
  text-align: center;
  margin-left: 48%;
  margin-top: -1%;
}

#button:hover {
  transform: scale(1.15);
  color: magenta;
}

#list {
  list-style-type: none;
  padding: 0;
}

.ui-widget-content {
  background-color: white;
  width: 280px;
  height: 220px;
  padding: 0.2em;
}

form {
  border-top: 1px solid black;
  padding-top: 4px;
}

#message {
  width: 194px;
}
